<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Test Website</title>
  </head>
  <body>
    <div class="">
      <section>
        <div class="">
          <section>
            <div class="">
              <ul>
                <li>
                  <a href="#">
                    <div class="title">The Flash</div>
                    <div class="current">S01E01</div>
                  </a>
                  <a href="#">
                    <div class="title">Suits</div>
                    <div class="current">S01E01</div>
                  </a>
                  <a href="#">
                    <div class="title">Arrow</div>
                    <div class="current">S01E01</div>
                  </a>
                </li>
              </ul>
            </div>
          </section>
        </div>
      </section>
    </div>
  </body>
</html>
